{% comment %}

    Footer for blockchain_backup.

    Copyright 2018-2022 DeNova
    Last modified: 2022-01-10

{% endcomment %}
{% load i18n bootstrap4 %}

    {% if is_popup %}

        {{ block.super }}

    {% else %}

            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="https://denova.com/open/blockchain_backup/docs/"
                   title="Go online to view Blockchain Backup's manual">{% trans "Docs" %}&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="/about/"
                   title="See the version of Blockchain Backup running">{% trans "About" %}&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="https://denova.com/help/"
                   title="Go online to learn how to contact DeNova">{% trans "Contacts" %}&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="https://denova.com/privacy_policy/"
                   title="Go online to review DeNova's privacy policy">{% trans "Privacy" %}&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="https://denova.com/privacy_policy/#cookies"
                   title="Go online to see DeNova's policy on cookies">{% trans "Cookies" %}&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="https://denova.com/legal/"
                   title="Go online to view DeNova's copyrights, trademarks, etc.">{% trans "Legal" %}&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="nav-item small">
                <a class="nav-link"
                   href="https://denova.com/"
                   title="Go to DeNova's home online">&copy; {% include 'clips/copyright.html' %}</a>
            </li>
    {% endif %}
