{% comment %}

    blockchain_backup's navigation bar.

    Copyright 2018-2020 DeNova
    Last modified: 2020-09-25

{% endcomment %}
{% load i18n bootstrap4 %}

            <li class="nav-item" name="nav-item">
                <a class="nav-link text-light font-weight-bold" href="/"  name="nav-link"
                   title="Go to your home page of Blockchain Backup on this computer">
                   Home
                </a>
            </li>

            <li class="nav-item" name="nav-item">
                <a class="nav-link text-light font-weight-bold" href="/bitcoin/preferences/"  name="nav-link"
                   title="Change your options for Blockchain Backup">
                   Preferences
                </a>
            </li>
