# Files git should ignore

# Copyright 2018-2023 BlockchainBackup
# Last modified: 2023-05-30

# when you add a file or dir to .gitignore, always:
#     git rm --cached FILENAME
# or for a dir
#     git rm -r --cached FILENAME

*#
*.o
*.pyc
*.pyo
*.class
*.log
