{% extends "django_addons/base_content.html" %}
{% comment %}
    Base for html content templates.

    Copyright 2018-2022 DeNova
    Last modified: 2022-01-10

{% endcomment %}
{% load i18n bootstrap4 %}

{% block title %}
    {% block titlevar %}
        {% if  header %}
        {{ header | safe }}
        {% else %}
        Blockchain Backup Adds Resilience to Bitcoin Core
        {% endif %}
    {% endblock %}
    | Blockchain Backup
{% endblock title %}

{% block footer %}
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    {{ block.super }}
{% endblock footer %}
