{% extends "base.html" %}
{% comment %}
    Copyright 2018-2020 DeNova
    Last modified: 2020-09-25
{% endcomment %}
{% load i18n custom %}

{% block body-content %}
<div class="container">
    {% block page_header %}
        {% subtitle %}
            <div id="header">
                {{ header | safe }}
            </div>
        {% endsubtitle %}
    {% endblock page_header %}

    <noscript>
        <p class="dropcap">
            Blockchain Backup requires javascript be enabled.
        </p>
        <p>
            After you enable javascript, reload this page.
        </p>
    </noscript>

    <div id="alert" name="alert" class="card text-white mb-4 px-2" style="max-width: 45rem; background-color:{{ alert_color|default:'blue' }}">
        <p class="card-text">
            <br/>
            <div id="notice" title="{{ notice_time }}">
            {% block page_notice %}
                {{ notice | safe }}
            {% endblock page_notice %}
            </div>
            <br/>&nbsp;<br/>
        </p>
    </div>

    <div style="max-width: 45rem">
        <p title="{{ subnotice_time }}">
            {% block page_subnotice %}
                <div id="subnotice">
                    {{ subnotice | safe }}
                </div>
            {% endblock page_subnotice %}
        </p>
    </div>

    {% block progress %}
    <div style="max-width: 45rem" title="{{ progress_time_html }}">
        {% block page_progress %}
            <div id="progress">
                {{ progress | safe }}
            </div>
        {% endblock page_progress %}
    </div>
    {% endblock progress %}

    {% block button %}
    <div id="button"  style="max-width: 45rem" title="{{ button_time_html }}">
        &nbsp;
    </div>
    {% endblock button %}
</div>
{% endblock body-content %}

{% block extrascript %}
    {{ block.super }}
    {% comment %}
    <script type='text/javascript' src='/static/js/debug.js'></script>
    <script type='text/javascript' src='/static/js/bitcoin.js'></script>
    {% endcomment %}
    <script type='text/javascript'>
    {% include 'static/js/debug.js' %}
    {% include 'static/js/bitcoin.js' %}
    </script>
{% endblock extrascript %}
