{% extends "base.html" %}
{% comment %}
    Copyright 2018-2019 DeNova
    Last modified: 2019-10-13
{% endcomment %}

{% load i18n custom %}

{% block titlevar %}
DeNova {{ app }} Is Running
{% endblock %}

{% block mainpane %}
    {% subtitle %}
        DeNova  {{ app }} Is Running
    {% endsubtitle %}

    <p class="dropcap">
        DeNova  {{ app }} appears to be running on this computer.
    </p>
    <p>
        After you close down <strong>{{ app }}</strong>, then you can reload this page.
    </p>
{% endblock mainpane %}
