{% extends "base.html" %}
{% comment %}
    Copyright 2019-2020 DeNova
    Last modified: 2020-10-07
{% endcomment %}

{% load i18n custom %}

{% block titlevar %}
    Blockchain Backup is Almost Ready
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% include 'static/css/bignum.css' %}
{% endblock extrastyle %}

{% block mainpane %}

<p class="dropcap">
    Bitcoin Core is installed,
    but the data directory isn't where expected.
</p>

<p>
    You can either
    {% link_button "/bitcoin/init_data_dir/" "{{ data_dir }}" tooltip="Initialize Bitcoin core's data directory" %}
    or set the data directory in
    {% include 'bitcoin/clips/preferences_button.html' %}
</p>
{% endblock mainpane %}

