{% extends "base.html" %}
{% comment %}
    Copyright 2019-2022 DeNova
    Last modified: 2022-01-25
{% endcomment %}

{% load i18n %}

{% block titlevar %}
    Blockchain Backup is Almost Ready
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% include 'static/css/bignum.css' %}
{% endblock extrastyle %}

{% block mainpane %}
<p class="dropcap">
    Bitcoin Core is installed,
    but you need to configure the data and backup directories.
</p>

<p>
    Click the
    {% include 'bitcoin/clips/preferences_button.html' %}
    button to configure the data and backup directories.
</p>
{% endblock mainpane %}

