{% extends "bitcoin/base.html" %}
{% comment %}
    Copyright 2018-2019 DeNova
    Last modified: 2019-12-15
{% endcomment %}
{% load i18n custom %}

{% block titlevar %}
    Stop Blockchain Backup
{% endblock %}

{% block page_header %}
    {% subtitle %}
        Stopping backup
    {% endsubtitle %}
{% endblock page_header %}

{% block page_notice %}
    WARNING: Do not close this window or shut down your computer yet.
{% endblock page_notice %}

{% block page_subnotice %}
{% endblock page_subnotice %}

{% block page_progress %}
{% endblock page_progress %}
