{% extends "base.html" %}
{% comment %}
    Copyright 2018-2020 DeNova
    Last modified: 2020-09-25
{% endcomment %}

{% load i18n custom %}

{% block titlevar %}
    Directories Inaccessible
{% endblock %}

{% block mainpane %}
    {% subtitle "Directories Inaccessible" %}

    <p class="dropcap">
        The Bitcoin Core or Blockchain Backup
        backup directories are not currently accessible.
    </p>
    <p>
        If you moved any of these directories to a new location, you need to
        change your {% include 'bitcoin/clips/preferences_button.html' %}
    </p>
    <p>
        If your Bitcoin or backup directories are located on a removable drive,
        be sure to connect it. Then reload this page.
    </p>
{% endblock mainpane %}

