{% extends "base.html" %}
{% comment %}
    Copyright 2018-2020 DeNova
    Last modified: 2020-09-25
{% endcomment %}

{% load i18n custom %}

{% block mainpane %}
    {% subtitle %}
        Blockchain Backup
    {% endsubtitle %}

    {% blankline %}

    <table cellpadding="10" cellspacing="10">
        <tr>
            <td>{% link_button '/bitcoin/access_wallet/' 'Access<br/>wallet' tooltip="Access your Bitcoin Core wallet" btnblock=True %}</td>
            <td>{% link_button "/bitcoin/update/" 'Update<br/>blockchain' tooltip="Update the blockchain" btnblock=True %}</td>
        </tr>
        <tr>
            <td>{% link_button '/bitcoin/backup/' 'Back up' tooltip="Back up the blockchain" btnblock=True %}</td>
            <td>{% link_button '/bitcoin/restore/' 'Restore' tooltip="Restore the blockchain" btnblock=True %}</td>
        </tr>
    </table>

    {% blankline %}

    {% if need_backup == True %}
    <p class="dropcap">
        Your blockchain was last backed up at {{ last_backed_up_time|date:"Y-m-d f a" }}.
        You need to {% include 'bitcoin/clips/backup_button.html' %} now.
    </p>
    {% endif %}
    <p>&nbsp;</p>

    {% include 'clips/upgrade_blockchain_backup.html' %}

    {% include 'clips/upgrade_core.html' %}
{% endblock mainpane %}
