{% extends "base.html" %}
{% comment %}
    Copyright 2018-2020 DeNova
    Last modified: 2020-09-25
{% endcomment %}

{% load i18n custom %}

{% block titlevar %}
    You are ready to get the blockchain
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% include 'static/css/bignum.css' %}
{% endblock extrastyle %}

{% block mainpane %}

{% subtitle "You are ready to get the blockchain" %}

<p class="dropcap">
    Before you can start using your wallet, you must update
    Bitcoin's blockchain. This can take days depending on
    the speed of your computer and connection.
</p>
<p>
    Blockchain Backup will automatically backup your blockchain.
    It will pause the update
    according to your <a href="/bitcoin/preferences/">Preferences</a>,
    and then resume updating.
</p>

{% link_button "/bitcoin/update/" "Start Update" tooltip="Start updating the blockchain." %}

{% endblock mainpane %}

